@model LessonApplication.Models.Users.RegistrationModel

введите логин и пароль
<form asp-controller="Users" asp-action="Registration" asp-antiforgery="true" method="post">
    <div class="input-group mb-3">
        <input asp-for="Name" type="text" class="form-control" placeholder="Введите имя">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-user"></span>
            </div>
        </div>
        <div class="col-12">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="input-group mb-3">
        <input asp-for="Password" type="password" class="form-control" placeholder="Пароль">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
        <div class="col-12">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    
    <div class="row">

        <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Зарегистрироваться</button>
        </div>
    </div>
</form>